<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Photo Tagging App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Find the Characters!</h1>
  <div id="timer" data-time-left="<%= initialTime %>">
   Time Left: 5:00 
  </div>
  <div id="puzzle-container">
    <img src="<%= puzzles[0] %>" draggable="false" id="currentPuzzle" alt="Tagging Photo">
  </div>
  <div id="puzzle-selection">
      <% puzzles.forEach(puzzle => { %> 
      <img src="<%= puzzle %>" alt="" id="puzzle">
      <% }) %>
  </div>
  <script>
    let puzzles = <%- JSON.stringify(puzzles) %>;
  </script>
  <script type="module" src="/js/main.js"></script>
</body>
</html>
