<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Photo Tagging App</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Find the Characters!</h1>
  <div id="timer" data-time-left="<%= initialTime %>">
   Time Left: 5:00 
  </div>
  <div id="photo-container">
    <img src="<%= photos[0] %>" draggable="false" id="inPlayPhoto" alt="Tagging Photo">
  </div>
  <div id="photo-selection">
      <% photos.forEach(photo => { %> 
      <img src="<%= photo %>" alt="" id="photo">
      <% }) %>
  </div>
  <script>
    const images = <%- JSON.stringify(photos) %>;
    console.log(images)
  </script>
  <script type="module" src="/js/main.js"></script>
</body>
</html>
