* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: blue;
  height: 100vh;
}

main {
  display: flex;
  width: 80%;
  gap: 1rem;
}

#timer {
  position: absolute;
  left: 0;
  top: 0;
}

#puzzle-container {
  position: relative;
  display: flex;
}

#currentPuzzle {
  width: 100%;
  height: auto;
}

#currentPuzzle:hover {
  cursor: none; /* Hide default cursor on hover */
}

#puzzle-selection {
  display: flex;
  flex-direction: column;
  width: 15%;
}

#magnifier {
  position: absolute;
  border-radius: 50%;
  border: 4px solid #000;
  background-repeat: no-repeat;
  pointer-events: none; /* Clicks pass through to image */
  display: none; /* Hidden until hover */
  z-index: 10;
  /* Center Reticle */
  justify-content: center;
  align-items: center;
}

#magnifier.targeting::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px; /* Vertical line */
  background: #f00;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Default: Small black dot */
#magnifier::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Sniper scope reticle */
#magnifier.targeting::before {
  width: 30px;
  height: 2px;
  border-radius: 0;
  background: #000;
}

#magnifier.targeting::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

